################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpHttpClientExample/Logs
/CSharpHttpClientExample/obj
/CSharpHttpClientExample/bin
